async-asgi-testclient==1.4.6
asyncpg==0.22.0
attrs==21.1.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
ConfigArgParse==1.4
databases==0.4.3
fastapi==0.63.0
fastapi-utils==0.2.1
Flask==1.1.2
Flask-BasicAuth==0.2.0
gevent==21.1.2
geventhttpclient==1.4.4
greenlet==1.1.0
gunicorn==20.1.0
h11==0.12.0
httpcore==0.13.3
httptools==0.2.0
idna==2.10
iniconfig==1.1.1
install==1.3.4
itsdangerous==1.1.0
Jinja2==2.11.3
locust==1.5.1
MarkupSafe==1.1.1
msgpack==1.0.2
multidict==5.1.0
packaging==20.9
pluggy==0.13.1
psutil==5.8.0
py==1.10.0
pydantic==1.8.1
pyparsing==2.4.7
pytest==6.2.4
pytest-asyncio==0.15.1
pyzmq==22.0.3
requests==2.25.1
rfc3986==1.4.0
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.3.24
starlette==0.13.6
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.4
uvicorn==0.13.4
uvloop==0.15.2
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.4.0
